
/* HEADER */
.container-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #255696;
    position: relative;
    box-shadow: -1px 5px 20px black;
}
.container-icon{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button-icon{
    border: none;
    background-color: transparent;
    padding-left: 20px;
}
.container-image-home{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-name-user{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.user-section{
    width: 30%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-width: 1px;
    border-left-color: white;
    border-left-style: solid; 
}
.user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
}

/* IMAGE OF WELCOME */
.container-welcome{
    width: 100%;
    height: 25%;
    background-image: url('../Image/Image-inovacao-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -230px;
    box-shadow: -1px 5px 20px black;
}
.container-backdrop{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    backdrop-filter: brightness(50%);
}
.text-welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-style: italic;
}

/* SECTION */
.container-section{
    width: 100%;
    height: 65%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.section-content{
    width: 100%;
    height: 75%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 80%;
    height: 90%;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
}
.container-copyrigth{
    width: 100%;
    height: 13%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-weight: 600;
    color: #AAAAAA;
}
.diviser{
    width: 90%;
    height: 0.1%;
    border: 1px solid rgba(0, 0, 0, 0.241);
}